<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>fly0.png</key>
		<dict>
			<key>x</key>
			<integer>731</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>150</integer>
			<key>height</key>
			<integer>304</integer>
			<key>offsetX</key>
			<real>13</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>304</integer>
		</dict>
		<key>fly1.png</key>
		<dict>
			<key>x</key>
			<integer>576</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-64.5</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>304</integer>
		</dict>
		<key>fly2.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>261</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>8.5</real>
			<key>offsetY</key>
			<real>-57</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>304</integer>
		</dict>
		<key>fly3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>312</integer>
			<key>height</key>
			<integer>223</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-35.5</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>304</integer>
		</dict>
	</dict>
</dict>
</plist>